header {
    font-size: 25px;
}

body, div {
    margin: 0;
    font-family: sans-serif;
}

body {
    background: url(https://torange.biz/photofxnew/202/HD/triangles-creative-future-template-background-graffiti-polygon-abstract-geometrical-202179.jpg);
}

#top-bar {
    background-color: #000;
    padding: 12px;
    position: relative;
    z-index: 100;
}

#top-bar div {
    font-size: 30px;
    color: #fff;
}

#nav li {
    list-style: none;       /* elimina els punts de la llista, així deixem sol les icones */
    padding: 20px 40px;
}

#nav a {
    text-decoration: none;  /* elimina la llinia blava dels links i queda més bonic */
    color: #fff;
}

#nav i {
    width: 40px;
    color: #fff;
}

#nav {
    background: linear-gradient(#000, rgba(255, 255, 255, 0));
    margin-top: 0%;
    z-index: 50;
}

.login-button a{
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 9px 24px;

}


@keyframes apareder {
    0% {
        margin-top: -100%;
    }
    100% {
        margin-top: 0%;
    }
}


@keyframes desaparecer {
    0% {
        margin-top: 0%;
    }
    100% {
        margin-top: -100%;
    }
}

@media  screen and (min-width: 900px) {

    #top-bar {
        display: none;
    }
    #nav {
        margin-top: 0%;
        display:flex ;
        justify-content: center;
    }
}

@media screen and (min-width: 1920px){
    body {
        background-size: cover;
    }
}